---
import Card from '../Card.astro';

interface Props {
	icon: string;
	title: string;
	text: string;
}

const { icon, title, text } = Astro.props;
---

<Card padding="large">
	<div class="feature">
		<div><img src={`src${icon}`} alt="" /></div>
		<div class="text">
			<h3>{title}</h3>
			<p>{text}</p>
		</div>
	</div>
</Card>

<style lang="scss">
	.feature {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--s-2-4);
	}

	.text {
		display: grid;
		gap: var(--s-1-2);
	}
</style>
