---
import { HERO_ACTION_TEXT, HOME_SUB_TITLE, HOME_TITLE } from '../../consts';
---

<div class="container">
	<div class="text">
		<div class="readable-content">
			<h1>{HOME_TITLE}</h1>
			<div class="subtitle">{HOME_SUB_TITLE}</div>
			<button>{HERO_ACTION_TEXT}</button>
		</div>
	</div>
</div>

<style lang="scss">
	.container {
		margin: var(--s-4-8) 0;
		position: relative;
	}

	.text {
		max-width: var(--max-readable-width);
	}
</style>
