---
import hero from '../../images/hero.jpg';
---

<section class="inner-wrapper container">
	<div class="text">
		<h1>Cost effective business websites</h1>
		<p>
			With over two decades of experience let us help your business reach new heights with a bespoke
			website
		</p>
		<button class="button">Talk to us today</button>
	</div>

	<div class="image"><img src={hero} alt="" /></div>
</section>

<style lang="scss">
	.container {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--s-4-8);

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.text {
		width: 100%;
		display: grid;
		gap: var(--s-2-4);
		order: 2;
		justify-items: start;

		@media (min-width: 768px) {
			order: 1;
			margin: var(--s-4-8) 0;
		}

		p {
			color: var(--c-accent);
		}
	}

	.image {
		border-radius: var(--border-radius-small);
		box-shadow: var(--card-box-shadow);
		background-color: var(--c-paper);
		width: 100%;
		overflow: hidden;
		order: 1;

		@media (min-width: 768px) {
			order: 2;
		}

		img {
			height: 100%;
			object-fit: cover;
		}
	}
</style>
