---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="container">
	<h2>{title}</h2>
	<p><slot /></p>
</div>

<style lang="scss">
	.container {
		display: grid;
		gap: var(--scale-16-32);
	}
</style>
