---
import Card from '../Card.astro';
import GlassCard from '../GlassCard.astro';
---

<section class="inner-wrapper">
	<GlassCard>
		<div class="container">
			<div class="readable-cntent">
				<h2>Website design</h2>
				<p>
					Ready to make a stunning first impression online? Our website design services provide
					custom solutions to create visually captivating and user-friendly websites that reflect
					your brand identity and captivate your visitors.
				</p>
			</div>

			<div class="services">
				<Card><div class="service"><span>icon</span>Service</div></Card>
				<Card><div class="service"><span>icon</span>Service</div></Card>
				<Card><div class="service"><span>icon</span>Service</div></Card>
				<Card><div class="service"><span>icon</span>Service</div></Card>
			</div>
		</div>
	</GlassCard>
</section>

<style lang="scss">
	.container {
		display: grid;
		gap: var(--s-4-8);
	}

	.readable-cntent {
		display: grid;
		gap: var(--s-2-4);
	}

	.services {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: var(--s-4-8);

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.service {
		display: flex;
		gap: var(--s-2-4);
		align-items: center;
	}
</style>
