---
import Card from '../Card.astro';

interface Props {
	author: string;
}

const { author } = Astro.props;
---

<Card padding="large">
	<div class="container">
		<p><slot /></p>
		<p class="author">{author}</p>
	</div>
</Card>

<style lang="scss">
	.container {
		display: grid;
		gap: var(--scale-8-16);
	}

	.author {
		font-weight: var(--fw-bold);
		font-size: var(--fs-small);
	}
</style>
