---
const today = new Date();
---

<footer>
	<div class="inner-wrapper">
		&copy; {today.getFullYear()} Revolve Digital Solutions. All rights reserved.
	</div>
</footer>

<style lang="scss">
	footer {
		background: var(--c-paper-opaque);
		border-top: 1px solid var(--c-border);
	}
</style>
