---
import { COPYRIGHT_TEXT } from '../consts';

const today = new Date();
---

<footer>
	<div class="inner-wrapper">
		&copy; {today.getFullYear()}
		{COPYRIGHT_TEXT}
	</div>
</footer>

<style lang="scss">
	footer {
		background: var(--c-paper-opaque);
		border-top: 1px solid var(--c-border);
	}
</style>
