<div class="container">
	<slot />
</div>

<style lang="scss">
	.container {
		background-color: var(--c-glass);
		padding: var(--s-2-8);
		border-radius: var(--border-radius-med);
		backdrop-filter: blur(var(--s-2));
		border: 1px solid var(--c-border);
	}
</style>
