---
import logo from '../images/logo.svg';
import Nav from './Nav.astro';
---

<header>
	<div class="inner-wrapper">
		<div class="navbar">
			<a href="/" class="logo">
				<img src={logo} alt="Revolve Digital Solutions logo" />
				<div class="sr-only">Homepage</div>
			</a>

			<Nav />
		</div>
	</div>
</header>

<style lang="scss">
	header {
		background: var(--c-paper);
		border-bottom: 1px solid var(--c-border);
		z-index: 200;
		position: sticky;
		top: 0;

		@media (min-width: 768px) {
			position: relative;
			background: var(--c-paper-opaque);
		}
	}

	.navbar {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		padding: var(--s-1-2) 0;
		position: relative;
		align-items: center;

		@media (min-width: 768px) {
			padding: var(--s-2-4) 0;
		}

		.logo {
			display: grid;
			align-items: center;

			svg {
				height: 50px;
				fill: var(--c-text);

				@media (min-width: 768px) {
					height: 70px;
				}
			}
		}
	}
</style>
