---
import logo from '../images/logo.svg';
import Nav from './Nav.astro';
---

<script>
	const homeButton = document.querySelector('.navlink[href="/"]');
	const servicesButton = document.querySelector('.navlink[href="/services"]');
</script>

<header>
	<div class="inner-wrapper">
		<div class="navbar">
			<a href="/" class="logo">
				<img src={logo} alt="Revolve Digital Solutions logo" />
				<div class="sr-only">Homepage</div>
			</a>

			<Nav />
		</div>
	</div>
</header>

<style lang="scss">
	header {
		background: var(--c-paper-opaque);
		border-bottom: 1px solid var(--c-border);
	}

	.navbar {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		padding: var(--s-2-4) 0;
		z-index: 200;
		position: relative;

		.logo {
			display: grid;
			align-items: center;

			svg {
				height: 50px;
				fill: var(--c-text);

				@media (min-width: 768px) {
					height: 70px;
				}
			}
		}
	}
</style>
