---
import { Icon } from 'astro-icon';
import MobileNav from './MobileNav.astro';
---

<script>
	import MicroModal from 'micromodal';

	MicroModal.init({ disableScroll: true });

	// pull down menu
	const menuTriggers = document.querySelectorAll('[aria-haspopup="true"]');

	function toggleMenu(menuTrigger: Element) {
		const closestPopup = menuTrigger.parentElement?.querySelector('ul');
		closestPopup?.classList.toggle('show');
		menuTrigger.setAttribute(
			'aria-expanded',
			menuTrigger.getAttribute('aria-expanded') === 'true' ? 'false' : 'true'
		);
	}

	menuTriggers?.forEach((menuTrigger) => {
		menuTrigger.addEventListener(
			'click',
			() => {
				toggleMenu(menuTrigger);
			},
			false
		);
	});

	// click anywhere or scroll to close pull down menu
	const popups = [...document.querySelectorAll('.popup')];
	const triggers = [...document.querySelectorAll('[aria-haspopup="true"]')];

	window.addEventListener('click', ({ target }) => {
		if (!target?.getAttribute('aria-expanded'))
			popups.forEach((popup) => popup.classList.remove('show'));
	});

	window.addEventListener('scroll', ({ target }) => {
		popups.forEach((popup) => popup.classList.remove('show'));
	});
</script>

<nav>
	<ul role="menubar">
		<li role="none"><a href="/" role="menuitem">Home</a></li>
		<li role="none" class="has-submenu">
			<a role="menuitem" href="#" aria-expanded="false" aria-haspopup="true">
				Services<Icon pack="ic" name="round-keyboard-arrow-down" />
			</a>
			<ul role="menu" class="popup">
				<li role="none">
					<a role="menuitem" href="/services/website-design">Website design</a>
				</li>
				<li role="none">
					<a role="menuitem" href="/services/website-development">Website development</a>
				</li>
			</ul>
		</li>
		<li role="none"><a role="menuitem" href="/projects">Projects</a></li>
		<li role="none"><a role="menuitem" href="/contact">Contact</a></li>
	</ul>

	<button class="burger-icon" data-micromodal-trigger="mobile-nav">
		<Icon pack="ic" name="round-menu" />
	</button>
</nav>

<MobileNav />

<style lang="scss">
	.burger-icon {
		display: grid;
		align-items: center;
		background: none;
		border: none;
		cursor: pointer;
		position: relative;
		padding: var(--s-1-2);

		@media (min-width: 1100px) {
			display: none;
		}

		svg {
			min-width: var(--s-4);
			min-height: var(--s-4);
		}
	}

	ul[role='menubar'] {
		display: none;

		@media (min-width: 1100px) {
			position: relative;
			margin: 0;
			width: fit-content;
			background: none;
			display: flex;
			align-items: center;
			gap: var(--s-1-2);
			padding: 0;
			height: auto;
			box-shadow: none;
		}

		li {
			list-style: none;
		}

		a[aria-haspopup='true'] {
			display: flex;
		}

		.popup {
			display: block;
			position: relative;

			@media (min-width: 1100px) {
				display: none;
				position: absolute;
				background-color: var(--c-paper);
				border-radius: var(--border-radius-small);
				box-shadow: var(--card-box-shadow);
				width: fit-content;
				padding: var(--s-1-2);

				&.show {
					display: block;
					animation: fadein 0.2s;
				}
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		gap: var(--s-0);
		font-size: var(--fs-nav);
		font-weight: var(--fw-semi-bold);
		transition: color var(--transition);
		padding: var(--s-1) var(--s-2);
		background: none;
		border: none;

		@media (min-width: 768px) {
			padding: var(--s-2);
		}

		&:hover,
		&.active {
			color: var(--c-accent);
		}

		svg {
			min-width: 24px;
			min-height: 24px;
		}
	}

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	nav {
		justify-self: end;
	}
</style>
